@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-bold-webfont.woff2') format('woff2'),
    url('../fonts/inter-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-semibold-webfont.woff2') format('woff2'),
    url('../fonts/inter-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-medium-webfont.woff2') format('woff2'),
    url('../fonts/inter-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-regular-webfont.woff2') format('woff2'),
    url('../fonts/inter-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
