@import 'reset';
@import 'fonts';

$font-stack: 'inter', sans-serif;
$main-color: #15202b;
$second-color: #192734;
$third-color: #8899a6;
$accent-color: #1da1f2;
$text-color: #ffffff;

body {
  background-color: $main-color;
  color: $text-color;
  font-family: $font-stack;
  line-height: 1.3;
}

.login__page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.self-start {
  align-self: start;
}

.d-block {
  display: block;
}

.btn {
  border: 1px solid $accent-color;
  border-radius: 2em;
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0.8em;
  padding: 0.6em 1em;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:hover {
    text-decoration: none;
  }

  &.btn--filled {
    background-color: $accent-color;

    &:hover {
      $darker-color: scale-color($accent-color, $lightness: -20%);
      background-color: $darker-color;
      border-color: $darker-color;
    }
  }

  &.btn--unfilled {
    background-color: transparent;
    color: $accent-color;

    &:hover {
      background-color: transparentize($accent-color, 0.85);
    }
  }
}

.login__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 470px;
  padding-top: 1.5em;
  width: 80%;

  .input__container {
    width: 40%;

    a {
      color: $accent-color;
      font-size: 0.7em;
      font-weight: 500;
      padding-left: 0.4rem;
    }
  }

  label,
  input {
    color: $third-color;
    font-family: inherit;
  }

  label {
    background-color: $second-color;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    flex-direction: column-reverse;

    span {
      font-size: 0.8em;
      font-weight: 500;
      padding: 0.4rem 0.4rem 0.1rem;
    }
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $third-color;
    outline: none;
    padding: 0 0.5em 0.3em;
    transition: border-color 0.3s ease;
    width: 100%;

    & + span {
      transition: color 0.3s ease;
    }

    &:focus {
      border-bottom-color: $accent-color;

      & + span {
        color: $accent-color;
      }
    }
  }
}

.main__signin {
  max-width: 25em;
  padding: 1.2em 2em 2em;
  width: 100%;

  img {
    margin-bottom: 1.1em;
  }

  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1.6em;
  }

  strong {
    display: block;
    font-size: 0.9em;
    margin-bottom: 1em;
  }
}

footer {
  padding-bottom: 0.5em;

  ul {
    color: $third-color;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 0.8em;
    justify-content: center;
    padding: 0 2em;

    li {
      display: inline-block;
      padding: 0 0.4em;
      margin-bottom: 0.8em;
      text-align: center;
    }
  }
}

/*=========== media-queries ===========*/

@media (max-width: 469px) {
  body {
    font-size: 14px;
  }

  .login__header {
    flex-direction: column;

    .input__container {
      width: 100%;
      margin-bottom: 0.7em;
    }

    .btn {
      display: block;
      width: 100%;
    }
  }

  .main__signin {
    h1 {
      margin-bottom: 1em;
    }
  }

  footer {
    padding-bottom: 1em;
  }
}
